body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    width: auto; 
    overflow-x: hidden; 
}


#container {
    width: auto;
}

#navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 4px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#navbar img {
    height: 80px;
}

#items-nav {
    margin-top: 10px;
    margin-left: 5%;
}

#footer {
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(to right, #010013, #00344e);
    color: white;
}

#mapa {
    margin-top: 4px;
    text-align: center;
}

#lista-icons {
    margin-top: 2%;
}

#icon {
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon1 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon2 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon3 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon:hover {
    color: rgb(226, 164, 30);
}

#icon1:hover {
    color: blue;/
}

#icon2:hover {
    color: rgb(29, 161, 242)
}

#icon3:hover {
    color: red;
}

#contacto {
    margin-top: 4%;
}

#clima-columna {
    margin-top: 3%;
}

#cuerpo{
    margin-top: 170px;
}

#imagenes{
    margin-top: 50px;
    text-align: center;
}
#info-img{
    text-align: center;
}