body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: auto;
    overflow-x: hidden;
}

#container {
    width: auto;


}

#navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 4px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}


#informacion{
    margin-top: 150px;
}
#navbar img {
    height: 80px;
}

#footer {
    text-align: center;
    margin-top: 110px;
    background: linear-gradient(to right, #010013, #00344e);
    color: white;
}

#mapa {
    margin-top: 4px;
    text-align: center;
}

#lista-icons {
    margin-top: 2%;
}

#icon {
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon1 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon2 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon3 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon:hover {
    color: rgb(226, 164, 30);
}

#icon1:hover {
    color: blue;/
}

#icon2:hover {
    color: rgb(29, 161, 242)
}

#icon3:hover {
    color: red;
}

#contacto {
    margin-top: 4%;
}

#clima-columna {
    margin-top: 3%;
}

#Informacion {
    margin-top: 10%;
    margin-bottom: -7%;
}

#Informacion h3 {
    text-align: center;
    color: rgb(13, 49, 49);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

#Informacion h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;

}

#Informacion h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;

}

@media (max-width: 430px) {
    #Informacion {
        margin-top: 130px;

    }

    #Informacion h3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 30px;
        color: #2b8d8d;

    }

   

    
}