body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    width: 100%; 
    overflow-x: hidden; 
}


#container {
    width: auto;
}

#navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 4px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#navbar img {
    height: 80px;
}


#items-nav {
    margin-top: 10px;
    margin-left: 5%;
}

.dropdown-menu li {
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;

}

#login {
    width: 100px;
}

#li1 {
    transition: 300ms;

}

#li1:hover {
    background-color: gray;
    color: rgb(43, 194, 194);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    margin: 0;

}

#btn {
    width: 260px;
}

#mod {
    font-style: italic;
    background-color: black;
    margin-top: 200px;
}

#carouselExample {
    margin-top: 117px;
}

#section {
    margin-top: 100px;
    text-align: center;
}


aside {
    position: fixed;
    top: 110px;
}

#toggle-menu {
    cursor: pointer;
    border: none;
    background: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

#menu.active {
    display: block;
}

#menu li {
    padding: 10px;
}

#menu li a {
    text-decoration: none;
    color: #333;
}

#menu li a:hover {
    background-color: #e0e0e0;
}

#footer {
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(to right, #010013, #00344e);
    color: white;
}

#mapa {
    margin-top: 4px;
    text-align: center;
}

#lista-icons {
    margin-top: 2%;
}

#icon {
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon1 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon2 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon3 {
    margin-left: 35px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#icon:hover {
    color: rgb(226, 164, 30);
}

#icon1:hover {
    color: blue;/
}

#icon2:hover {
    color: rgb(29, 161, 242)
}

#icon3:hover {
    color: red;
}

#contacto {
    margin-top: 4%;
}

#clima-columna {
    margin-top: 3%;
}

#contactenos{
    text-align: center;
}
#section{
    margin-top: 150px;
}

#descripcion1{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#section2{
    text-align: center;
    margin-top: 30px;
}

#descripcion2{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#section3{
    text-align: center;
    margin-top: 30px;
}

#descripcion3{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#section4{
    text-align: center;
    margin-top: 30px;
}

#descripcion4{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

@media (max-width: 387px){
    #mapa{
        width: 250px;
    }
}